# Enable Rewrite Engine
RewriteEngine On

# Set base rewrite
RewriteBase /graduation_project/

# Skip if it's a real file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Route everything to public/index.php
RewriteRule ^(.*)$ public/index.php [QSA,L]
